<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Title</title>
    <div th:insert="~{BarFragment :: copy}"></div>
</head>
<body>

<div class="row">
    <div class="col-4"><p></p></div>
    <div class="col-4">
        <form method="post" action="/book/neworder" >
            <p>номер запроса</p>
            <input class="fadeIn third" name="numberOrder" value="5"readonly>
            <p>ФИО посетителя</p>
            <input class="fadeIn third" name="fio" >
            <p>Телефон</p>
            <input class="fadeIn third" name="phone" >
            <p>Дата записи</p>
            <input class="fadeIn third" name="date" >
            <p>Тип услуги</p>
            <input class="fadeIn third" name="typeOrder" >
            <p>Пол</p>
            <input class="fadeIn third" name="gender">
            <p>Имя мастера</p>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" name="masterName">
                        <option th:each = "empl : ${employee}">
                            <div th:text = "${empl.fio}"></div>
                        </option>
                    </select>
                </div>
            </div>
            <p>Время приёма мастером</p>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" name="timeOrder">
                        <option th:each = "time : ${times}">
                            <div th:text = "${time}"></div>
                        </option>
                    </select>
                </div>
            </div>
            <p>Статус заказа</p>
            <input class="fadeIn third" name="orderStatus" value="Waiting" readonly>
            <p></p>
            <input type="submit" class="fadeIn fourth" value="Complete book">
        </form>
    </div>
    <div class="col-4"><p></p></div>
</div>
</body>
</html>
