<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div th:insert="~{BarFragment :: copy}"></div>
<div class="table-responsive">
<table class="table table-bordered table-dark" >


    <tr>
        <td>Время</td>
        <td  th:each="empl : ${empls}">
        <div th:text = "${empl.fio}"></div>

        </td>
    </tr>
    <tr>
        <td><p>13:00</p></td>
        <td><p>12</p></td>

    </tr>
    <tr>
        <td><p>13:30</p></td>
        <td><p></p></td>
        <td><p>>Карвинг</p></td>

    </tr>
    <tr>
        <td><p>14:00</p></td>
        <td><p></p></td>
        <td><p></p></td>
        <td><p></p></td>
        <td><p>ghhjfj</p></td>
    </tr>
    <tr>
        <td><p>14:30</p></td>

    </tr>
    <tr>
        <td><p>15:00</p></td>
    </tr>
    <tr>
        <td><p>15:30</p></td>

    </tr>
    </table>
</div>
</body>
</html>