<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Цвет</th>
        <th scope="col">Марка</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <th th:text = "${car.id}"></th>
        <td th:text = "${car.color}">Mark</td>
        <td th:text = "${car.model}">Otto</td>
        <td th:text = "${car.price}">@mdo</td>
        <td >
            <a class="nav-item nav-link active" th:href="@{'/cars/edit?id='+${car.id}}">Edit</a>
            <a class="nav-item nav-link active" th:href="@{'/cars/delete?id='+${car.id}}">Delete</a>
        </td>
    </tr>

    </tbody>

</table>
<a class="nav-item nav-link active" href="/cars/add">Add</a>
</body>
</html>