<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div></div>
<div class="row">
    <div class="col-4"><p></p></div>
    <div class="col-4">
        <form method="post" action="#" >
            <input type="name" name="fio" class="form-control" placeholder="Your name">
            <p></p>
            <input type="phone" name="phone" class="form-control" placeholder="+79854215315">

            <p>Дата</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="date" value="11.12" id="option1" autocomplete="off" checked> 11.12
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="date" value="11.12" id="option2" autocomplete="off"> 12.12
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="date" value="12.12" id="option3" autocomplete="off"> 13.12
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="date" value="11.12" id="option4" autocomplete="off"> 14.12
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="date" value="11.12" id="option5" autocomplete="off"> 15.12
                </label>
            </div>

            <p>Пол</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="gender" value="M" id="optiongender1" autocomplete="off" checked> М
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="gender" value="F" id="optiongender2" autocomplete="off"> Ж
                </label>
            </div>

            <p>Тип заказа</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="typeOrder" value="short" id="optiontype1" autocomplete="off" checked> Коротко
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="typeOrder" value="long" id="optiontype2" autocomplete="off"> Длинно
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="typeOrder" value="long" id="optiontype3" autocomplete="off"> спортивная
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="typeOrder" value="long" id="optiontype4" autocomplete="off"> Детская
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="typeOrder" value="long" id="optiontype5" autocomplete="off"> стрижка "Канадка"
                </label>

            </div>

            <p></p>
            <input type="submit" class="fadeIn fourth" value="Записаться">
        </form>
    </div>
    <div class="col-3"><p></p></div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
